:root {
    --wrap-showcase_pct: 33%;
}

@media (max-width: 950px) {
    :root {
        --wrap-showcase_pct: 25%;
    }
}

@media (max-width: 750px) {
    :root {
        --wrap-showcase_pct: 40%;
    }
}

@media (max-width: 380px) {
    
}

@media (max-width: 280px) {
    :root {
        --wrap-showcase_pct: 100%;
    }
}

body{
    /* width: 100%;
    height: 100%; */
}

.seperation_block {
    content: "";
    padding: 0rem;
    margin: 0rem;
    height: 2rem;
}

/* #content {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

/* SLIDESHOW START */

#slideshow {
    /* border-width: 0.5rem;
    border-style: solid;
    border-color: black; */
    margin: auto;
    width: 90vw;
    max-width: 60rem;
    height: auto;
}

#slide_main {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    /* height: 35rem;
    width: 53rem; */
}

.slides{
    border-width: 0.3rem;
    border-style: solid;
    border-color: white;
    display: block;
    margin: 0rem auto;
    max-width: 100%;
    height: auto;
}

#slide_button_row {
    margin: 0 auto;
}

#slide_button_row button {
    margin: auto;
}

/* SLIDESHOW ENDS */
/* SHOWCASE STARTS */

#showcase {
    /* border: 1px solid red; */
    margin: auto;
    position: relative;
    height: auto;
    /* width: 54rem; */
    width: 90vw;
    max-width: 60rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* grid-template-columns: 33% 33% 33%; */
}

.showcase_item {
    /* border: 1px solid red; */
    margin: 5% 1.8vw;
    max-width: var(--wrap-showcase_pct);
    height: auto;
    
    /* height: 33%;
    width: auto; */
}

.showcase_item:hover {
    /* transform: scale(1.05); */
    opacity: 0.7;
}

.showcase_item_photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.showcase_item_name {
    position: relative;
    /* top: 10%; */
    text-align: center;
}

.showcase_item_name a {
    font-size: 1.2rem;
    font-family: "Noto Sans TC";
    font-weight: bold;
    color: var(--color-brown);
    text-decoration: none;
}

/* SHOWCASE ENDS */

