:root {
    --wrap-showcase_pct: 33%;
}

@media (max-width: 750px) {
    :root {
        --wrap-showcase_pct: 45%;
    }
}

@media (max-width: 280px) {
    :root {
        --wrap-showcase_pct: 100%;
    }
}

/* SLIDESHOW START */
html {
    scroll-behavior: smooth;
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    --top-spacing: 6rem;
    scroll-padding-top: var(--top-spacing);
}

.slideshow {
    margin: 0 0 1rem 0;
    width: 100%;
    height: auto;
}


/* SLIDESHOW ENDS */
/* SHOWCASE STARTS */

#showcase {
    /* border: 1px solid red; */
    margin: 1em auto;
    /* height: auto; */
    width: 90vw;
    max-width: 54rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.showcase_item {
    /* border: 1px solid red; */
    margin: 5% 1.9vw;
    max-width: var(--wrap-showcase_pct);
    height: auto;
}

.showcase_item:hover {
    opacity: 0.7;
}

.showcase_item_photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.showcase_item_name {
    position: relative;
    text-align: center;
}

.showcase_item_name a {
    font-size: 1.2rem;
    font-family: "Noto Sans TC";
    font-weight: bold;
    color: var(--color-brown);
    text-decoration: none;
}

/* SHOWCASE ENDS */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.interesting {
    height: 25rem;
    width: 100%;
    background-color: var(--color-yellow_light);
}

.contents {
    max-width: 54rem;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item {
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    margin: 1rem 0;
}

.item p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
}


.information {
    max-width: 54rem;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
    scroll-padding: 7rem;
}

.reverse {
    flex-direction: row-reverse;
}

.details {
    width: 95vw;
    max-width: 400px;
    margin: 2rem 1rem;
    display: grid;
    place-items: center;
}

.details * {
    line-height: 1.5rem;
}

h1 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0;
}

.infoImg {
    width: 95vw;
    max-width: 400px;
    /* max-height: 400px; */
    height: auto;
    display: grid;
    place-items: center;
}

.infoImg img{
    /* display: block; */
    object-fit: fill;
    max-height: 100%;
    max-width: 100%;
}

#postage {
    background-color: var(--color-yellow_light);

}

#postageSection ol li{
    list-style-type: decimal;
    line-height: 1.5rem;
    text-justify: distribute;
}


/* #postageSection {

} */

#contactSection {
    display: grid;
    place-items: center;
    height: auto;
    background-color: var(--color-yellow_light);
}

.contactContents {
    display: grid;
    place-items: center;
    max-width: 42rem;
    width: 90vw;
}

.contactContents form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

form span {
    padding: 0.5rem;
}

.contactName, .contactNumber, .contactEmail {
    width: 90vw;
    max-width: 250px;
}

.contactMessage{
    width: 100%;
}

.contactMessage input {
    height: 15vh;
}
