:root {
	/* FONT-SIZE */
	font-size: 20px;
	--fontsize-media: 20px;

	/* COLORS */
	--color-yellow: rgba(242,195,83,1.0);
	--color-backgroundtint: rgba(245,245,245,0.6);
	/* --color-banner: rgba(247, 225, 161, 1);
	--color-banner_bottom: rgba(247, 225, 161, 0.8); */
	/* --color-banner: rgb(194, 202, 159); */
	/* --color-banner: hsla(13, 40%, 87%, 1); */
	/* --color-banner: hsla(13, 40%, 87%, 1); */
	--color-banner: hsl(26, 85%, 92%);
	--color-banner_light: rgba(247, 225, 161,1);
	--color-banner_bottom: hsl(26, 85%, 92%, 0.8);
	/* --color-banner_bottom: 	hsla(13, 40%, 87%, 0.7); */
	/* --color-banner_bottom: hsla(1, 40%, 85%, 0.7); */
	--color-lightblue: rgba(18,139,166,1.0);
	--color-darkblue: rgba(0,64,98,1.0);
	--color-darkblue_soft: rgba(0,64,98,0.3);
	--color-brown: rgb(46, 14, 5);
	--color-brown_soft: rgba(46,14,5,0.8);
	--color-brown_comp: rgba(5,46,41,0.2);
	--color-pink: hsl(1, 77%, 68%);
	--color-pink_soft: rgba(236,113,110,0.15);
	--color-orange: hsl(13, 81%, 57%);
    --color-textinput: rgb(245, 245, 245);

	/* HEADER */
	--position-banner: fixed;
	--top-navbar: 7em;
	--position-navbar: fixed;
	--margin-navbar: 0 3.5vw;
	--display-navlogo: none;
	--margin-headerspace: 9.5em;
}

	/* MEDIA QUERY START */


@media (max-height: 800px) {
	:root {
		--position-banner: static;
		--top-navbar: 0em;
		--position-navbar: sticky;
		--display-navlogo: block;
		--margin-headerspace: none;
	}
}

@media (max-width: 950px) {
    :root {
		font-size: 18px;
		--fontsize-media: 18px;
		--position-banner: static;
		--top-navbar: 0em;
		--position-navbar: sticky;
		--margin-navbar: 0;
		--display-navlogo: block;
		--margin-headerspace: none;
    }
}

@media (max-width: 600px) {
	:root {
		font-size: 16px;
		--fontsize-media: 16px;
		--margin-navbar: 0;
		--display-navlogo: block;
	}
}

@media (max-width: 450px) {
	:root {
		font-size: 14px;
		--fontsize-media: 14px;
	}
}

@media (max-width: 395px) {
	:root {
		font-size: 13px;
		--fontsize-media: 13px;
	}
}

 @media (max-width: 370px) {
	:root {
		font-size: 12px;
		--fontsize-media: 12px;
	}
}

@media (max-width: 340px) {
	:root {
		font-size: 11x;
		--fontsize-media: 11px;
	}
}

/* @media (max-width: 250px) {
	:root {
		font-size: 8px;
		--fontsize-media: 8px;
	}
} */


	/* MEDIA QUERY END */



	/* MEDIA QUERY END */


body {
	/* Uses linear gradient function to creates an Image which is added to the background stack  */
	background: linear-gradient(var(--color-backgroundtint), var(--color-backgroundtint)), url(../images/backimage.png);
	font-family: "Noto Sans TC";
	color: var(--color-brown);
	min-height: 100vh;
}


	/* CLASSES START */

.a:hover {
	transform: scale(1.05);
}

.textinput {
    background-color: var(--color-textinput);
    border: 0px solid white;
	padding: 0.5em;
	border-radius: 3px;
}

.brownborder {
    border: 1px solid var(--color-brown);
    border-radius: 5px;
}

.brownbutton {
    background-color: var(--color-brown_soft);
    color: white;
    border: 0px solid white;
    border-radius: 5px;
    font-size: 1rem;
}

	/* CLASSES END */
	/* BANNER START */


header {
	position: static;
	top: 0%; left: 0%;
	z-index: 1;
	font-size: var(--fontsize-media);

}

#banner_top {
	background-color: var(--color-banner);
	height: 7rem;
	position: var(--position-banner);
	top: 0%;	left: 0%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	z-index: 1;
}

#banner_logo {
	display: block;
	margin: 5% 5% 5% 5%;
	height: 90%;
	max-height: 7rem;
	width: auto;
}

#banner_slogan {
    display: block;
	margin: 2em 0 0.3em 0;
	height: 50%;
	max-height: 3rem;
	max-width: auto;
}


	/* BANNER END */
	/* NAV BAR START */



nav {
	background-color: var(--color-banner_bottom);
	height: 2.5em;
	position: var(--position-navbar);
	top: var(--top-navbar); left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: inherit;
	z-index: 2;
	font-size: var(--fontsize-media);
}


#nav_bar {
	display: flex;
	align-items: center;
	overflow: hidden;
	/* Below is for when I want to add a toggle button */
	/* flex-direction: row-reverse; */
}

#nav_logo {
	display: var(--display-navlogo);
	margin-left: 2vw;
	display: none;
	z-index: 6;
	/* animation-play-state: paused; */
}

/* .logoSpinner {
	animation-name: logoSpin;
	animation-fill-mode: end;
	animation-duration: 750ms;
	animation-play-state: running;
	animation-iteration-count: infinite;
}

@keyframes logoSpin {
	from {
		transform: rotate(0deg);
		transform: scale(0.3);
		opacity: 0;
	}
	to {
		transform: rotate(360deg);
		transform: scale(1);
		opacity: 1;
	}
} */

#nav_logo img {
	display: block;
	max-height: 2.0em;
	width: auto;
}

#nav_bar ul {
	list-style-type: none;
	margin: var(--margin-navbar);
	height: inherit;
}

.nav_items {
	display: inline-block;
	padding: 0.0em 0.7em;
	font-size: inherit;
	font-size: 1.1em;
	line-height: 2.5em;
}

.nav_items a{
	text-decoration: none;
	color: var(--color-brown);
	overflow: hidden;
}

.nav_items:hover {
	background-color: var(--color-yellow);
	transform: scale(1.05);
}

/* #nav_bar li:nth-child(3) {
    display: none;
} */

.sideMenu {
	/* border: 1px solid black; */
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--color-banner_bottom);
	flex-wrap: wrap;
	flex-direction:column;
	align-items: flex-start;
	z-index: 5;
	
}

.sideMenu ul {
	list-style-type: none;
	margin: auto;
	padding-inline-start: 0px;
}

.sideMenu li {
	/* border: 1px solid black; */
	margin: 0 auto;
	padding: 0.5em 0.5em;
	font-size: inherit;
	font-size: 1.1em;
	line-height: 2.50em;
	text-align: center;
}

.sideMenu li:first-child {
	padding-bottom: 1em;
}

.sideMenu a {
	text-decoration: none;
	color: var(--color-brown);
}

.member_cart {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: var(--color-banner_bottom) !important; */
}

.cart_icons {
	font-size: inherit;
	max-height: 1.9em;
	padding: 0% 0.35em;
	/* background-color: inherit; */
}

.cart_icons:hover {
	transform: scale(1.3);
}

/* .logoBackgroundColor {
	background-color: var(--color-banner_bottom);
} */

/* NAV BAR ENDS */
/* MAIN STARTS */


main {
	/* min-height: 95vh; */
	min-height: 95vh;
	margin-top: var(--margin-headerspace) !important;
}


/* MAIN ENDS */
/* FOOTER STARTS */




footer {
	background-color: var(--color-banner);
	font-size: var(--fontsize-media);
	width: 100%;
	height: 2em;
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer a {
	display: block;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1vw;
}

footer img {
	max-height: 80%;
	width: auto;
}

#footer_details {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 1em;
	list-style-type: none;
	font-size: 0.8rem;
}

.footer_items {
	display: inline-block;
	line-height: 2em;
	padding: 0rem 1em;
}

.footer_lines {
	display: inline-block;
	line-height: 2em;
}

.footer_items a{
	text-decoration: none;
	color: var(--color-brown);
	margin: 0 0.5rem;
}

.footer_items:hover {
	background-color: var(--color-yellow);
	transform: scale(1.05);
}


/* FOOTER ENDS */
