main {
    font-family: "DFKai-sb";
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1{
	font-size: 1.5rem;
	color: var(--color-brown);
    text-align: center;
    max-width: 95vw;
}
p{
    /* width:  90vh; */
    color: var(--color-brown);
    max-width: 400px;
    text-align: center;
    padding: 2vw;
}
form {
	margin-bottom: 1rem;
}
.gameBox {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    width: 97vw;
    max-width: 700px;
    align-items: center;
    justify-content: center;
}

.cardBox {
    /* border: 1px solid red; */
    width: 78px;
    height: 98px;
    margin: 4px;
}

.cardBox img {
    max-width: 100%;
    height: auto;
}

input[type="text"] {
    width: 50px;
}

#controlForm button {
    margin: 0 3vw;
}