.table {
  position: relative;
  margin: auto;
  display: table;
  width:600px; /* 這裡有bug，沒設定高度，可能導致放入不同大小照片有問題 */
  background-color: var(--color-banner);
  border: 5px solid var(--color-brown);
}

.table_row {
  display:table-row;
}
.table_cell {
  display:table-cell;
  width: 200px;
  height: 200px;
}
.ans {
  /* div 寬高 */
  width:200px;
  height:200px;
  position:absolute;
  cursor: pointer;
}
.ans>span {
  position: absolute;
  font-size: 50px;
}
/* 以下是我修正的部分，上面是老師的部分 */
/* 拼圖圖檔設定 */
/* .ans_pic {
  一次設定所有pic
} */
#pic01 {
  position: absolute;
  right: 0;
  bottom: 0;
}
#pic02 {
  position: absolute;
  left: -2px;
  top: -4px;
}
#pic03 {
  position: absolute;
  left: 0;
  bottom: 0;
}
#pic04 {
  position: absolute;
  right: 0;
  top: 0;
}
#pic05 {
  position: absolute;
  left: -62px;
  top: 0;
}
#pic06 {
  position: absolute;
  left: 0;
  top: 0;
}

.size1 {
  width: 600px;
}
.margin1 {
  margin: 1% auto;
}
#gameBox {
  margin: 0 auto;
  width: 80%;
  height: 800px;
  /* gameBox底下的東西垂直置中 */
  display : flex;
  justify-content: space-around;
  align-items : center;
  flex-wrap: wrap;
}

/* MEDIA QUERY 只設定手機，電腦沿用上面的配置即可 */

@media (max-width: 576px) {
  /*
      @media裡面的設定原本都用
      width: 90vw;
      height: 60vw;
      設計響應式網頁
      但是圖片尺寸會碰上bug
      所以先用 px + transform 替代
   */
  .size1 {
      /* width: 90vw;
      height: 60vw; 這裡有bug，可能導致放入不同大小照片有問題 */
      width: 450px;
      height: 300px;
  }
  #gameBox {
      /* width: 90vw; */
      width: 450px;
  }
  .table_cell {
      width: 33.3333%;
      height: 50%;
      /* border: 1px solid green; */
  }
  .ans {
      /* div 寬高 */
      width: 33.3333%;
      height: 50%;
      position:absolute;
      cursor: pointer;
  }
  /* 拼圖圖片 寬高 */
  .ans_pic {
      /* width: 30vw;
      height: 30vw;
      這裡有bug，建議不要指定width，用transform全體一起縮放到30vw */
      transform: scale(0.75, 0.75);
  }
  #pic01 {
      position: absolute;
      left: -78px;
      top: -31px;
  }
  #pic02 {
      position: absolute;
      left: -33px;
      top: -32px;
  }
  #pic03 {
      position: absolute;
      left: -41px;
      top: -80px;
  }
  #pic04 {
      position: absolute;
      left: -28px;
      top: -40px;
  }
  #pic05 {
      position: absolute;
      left: -90px;
      top: -40px;
  }
  #pic06 {
      position: absolute;
      left: -34px;
      top: -32px;
  }
}
#finished {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background-color: var(--color-banner);

  border: solid 0.2rem var(--color-brown);

  /* flex設定 */
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  align-items : center;

  /* 文字設定 */
  font-size: 5rem;

  /* 隱藏或顯示 */
  visibility: hidden;
}
#restart {
  font-size: 5rem;
  color: var(--color-brown);
  border-radius: 1.5rem;
}