main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bigBox {
	background-color: white;
	width: 90vw;
	max-width: 800px;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	font-size: 1.3rem;
    border: 1px solid var(--color-brown);
    border-radius: 5px;
}

h1 {
	margin: 1rem 0;
	font-size: 2rem;
}

.bigBox p {
	max-width: 85vw;
	margin: 40px 0px;
	line-height: 2rem;
	
}

.bigBox form {
	/* background-color: black; */
	display: grid;
	grid-template-columns: minmax(10%, 30%) 1fr;
	grid-gap: 0.5em;
	width: 85vw;
	max-width: 700px;
	text-align: end;
	/* margin: 20px; */
}

form * {
	line-height: 1.5em;
	border-radius: 5px;
}

form input[type="submit"] {
	grid-column: 2 / 3;
	width: 50%;
	justify-self: flex-end;
	height: 2.5rem;
	margin-bottom: 2rem;
}
