main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.contents {
    /* background-color: white;
    padding: 3rem; */
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.contents > * {
    border: 1px solid black;
    margin: 1rem;
}

.selectionBox {
    height: 100%;
    padding: 1rem;
}

.selectionBox div {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.selectionBox h1 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.selected {
    background-color: var(--color-hover);
    transform: scale(1.1);
}

.selectionLi, .shapeBox li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.selectionBox   li:hover {
    background: var(--color-hover);
    transform: scale(1.1);
}


#drop-region {
    width: 95vw;
    max-width: 600px;
    height: 600px;
    max-height: 95vw;
    display: grid;
    place-items: center;
    position: relative;
    /* border: 1px solid black; */
}

#image-preview {
    width: 80%;
    max-width: 80%;
    height: 82%;
    max-height: 82%;
    display: flex;
    flex-basis: 0;
    background-color: rgb(231, 231, 231);
}

#image-preview * {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

#framePictureBox {
    z-index: 10;
    position: absolute;
    background-size: contain;
    width: 100%;
    height: inherit;
    pointer-events: none;
}

#frameWireBox {
    z-index: 9;
    position: absolute;
    background-image: url('/images/相框遮罩/wireframe.png');
    background-size: contain;
    width: 85%;
    height: 85%;
    pointer-events: none;
}

.resetButton {
    z-index: 11;
    display: block;
    position: absolute;
    left: 3%;
    bottom: 3%;
}

#cartButton {
    z-index: 11;
    display: block;
    position: absolute;
    right: 3%;
    bottom: 3%;
    width: 2rem;
    height: 2rem;
}

#cartButton:hover, .resetButton:hover {
    transform: scale(1.1);
}

.hoverEvent {
    position: absolute;
    top: 5rem;
}

.hasTooltip {
    position: relative;
    width: inherit;
    height: inherit;
}

.tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--color-brown);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 15;
    bottom: 110%;
    /* right: 50%; */
    /* margin-left: -60px; */
}

.hasTooltip:hover .tooltiptext {
    visibility: visible;
  }