main * {
	/* border: 1px solid black; */
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.process {
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	width: 90vw;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1rem 0;
}

.pointer {
	width: 7rem;
	height: 3rem;
	line-height: 3rem;
	position: relative;
	margin: 2rem;
	background: gray;
}

.pointer:after {
	content: "";
	position: absolute;
	left: -1.5rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-top: 1.5rem solid gray;
	border-bottom: 1.5rem solid gray;	
}

.pointer:before {
	content: "";
	position: absolute;
	right: -1.5rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1.5rem solid gray;
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.pointerPink {
	background: var(--color-pink);	
}

.pointerPink:after {
	border-top: 1.5rem solid var(--color-pink);
	border-bottom: 1.5rem solid var(--color-pink);	
}

.pointerPink:before {
	border-left: 1.5rem solid var(--color-pink);
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.pointerYellow {
	background: var(--color-yellow);	
}

.pointerYellow:after {
	border-top: 1.5rem solid var(--color-yellow);
	border-bottom: 1.5rem solid var(--color-yellow);	
}

.pointerYellow:before {
	border-left: 1.5rem solid var(--color-yellow);
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.contents {
	max-width: 800px;
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 1rem 0;
	/* background-color: var(--color-pink_soft); */
	background-color: white;
    border: 1px solid var(--color-brown);
    border-radius: 5px;
    padding: 1.5rem 0;
}

.itemBox {
	width: 90vw;
	max-width: 800px;
	/* background-color: var(--color-brown_comp); */
}

.item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 0.5fr;
	grid-template-rows: 1.5fr 2fr;
	grid-template-areas: "image name name delete" "image price number total";
	grid-gap: 0.5rem;
	margin: 1rem;
	border: 1px solid var(--color-darkblue_soft);
	border-radius: 1rem;
}

.item * {
	display: flex;
	align-items: center;
	justify-content: center;
}

.item img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.itemImage {
    margin-left: 1rem;
	grid-area: image;
    max-width: 5rem;
    max-height: 5rem;

}
.itemImage img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.itemName {
	grid-area: name;
	justify-self: left;
    font-size: 1.5rem;
}

.item button {
	grid-area: delete;
}

.itemPrice {
	grid-area: price;
    justify-self: right;
}

.itemNumber {
	grid-area: number;
}

.itemTotal {
	grid-area: total;
}

.total {
	margin: 1rem 1rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 0.6rem;
	align-self: flex-end;
}

.total span {
	text-align: right;
}

.total p {
    text-align: right;
}

.total p:last-of-type, span:last-of-type {
    font-size: 1.5rem;
}

.nextStepPointer {
	width: 5rem;
	height: 2rem;
	line-height: 2rem;
	position: relative;
	margin: 1rem 2rem;
	background: var(--color-pink);
	align-self: flex-end;
}

.nextStepPointer:after {
	content: "";
	position: absolute;
	left: -1rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1rem solid transparent;
	border-top: 1rem solid var(--color-pink);
	border-bottom: 1rem solid var(--color-pink);	
}

.nextStepPointer:before {
	content: "";
	position: absolute;
	right: -1rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1rem solid var(--color-pink);
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}

.nextStepPointer a {
	text-decoration: none;
	color: var(--color-brown);
}
