main * {
	/* border: 1px solid black; */
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.process {
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	width: 90vw;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1rem 0;
}

.pointer {
	width: 7rem;
	height: 3rem;
	line-height: 3rem;
	position: relative;
	margin: 2rem;
	background: gray;
}

.pointer:after {
	content: "";
	position: absolute;
	left: -1.5rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-top: 1.5rem solid gray;
	border-bottom: 1.5rem solid gray;	
}

.pointer:before {
	content: "";
	position: absolute;
	right: -1.5rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1.5rem solid gray;
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.pointerPink {
	background: var(--color-pink);	
}

.pointerPink:after {
	border-top: 1.5rem solid var(--color-pink);
	border-bottom: 1.5rem solid var(--color-pink);	
}

.pointerPink:before {
	border-left: 1.5rem solid var(--color-pink);
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.pointerYellow {
	background: var(--color-yellow);	
}

.pointerYellow:after {
	border-top: 1.5rem solid var(--color-yellow);
	border-bottom: 1.5rem solid var(--color-yellow);	
}

.pointerYellow:before {
	border-left: 1.5rem solid var(--color-yellow);
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.contents {
	max-width: 800px;
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 1rem 0;
	background-color: var(--color-pink_soft);
	background-color: white;
    padding: 2rem 0;
    border: 1px solid var(--color-brown);
    border-radius: 5px;
}

.list {
	width: 90vw;
	max-width: 500px;
}

.method {
	display: grid;
	grid-template-columns: 3rem 2fr 1fr;
	margin: 1rem 0;
	background-color: var(--color-darkblue_soft);
	border-radius: 5px;
}
.method input {
	align-self: center;
	justify-self: center;
}
.method p {
	height: 3rem;
	line-height: 1.5rem;
	text-align: right;

}

.method span {
	height: 3rem;
	line-height: 3rem;
}
.total {
	margin: 1rem 1rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 0.6rem;
	align-self: flex-end;
    border: 1px solid var(--color-brown);
    padding: 1.5rem;
    padding-left: 0;
    border-radius: 5px;
}

.total span {
	text-align: right;
}

.total p {
    text-align: right;
}

.total p:last-of-type, span:last-of-type {
    font-size: 1.5rem;
}

.nextStepPointer {
	width: 5rem;
	height: 2rem;
	line-height: 2rem;
	position: relative;
	margin: 1rem 2rem;
	background: var(--color-pink);
	align-self: flex-end;

}

.nextStepPointer:after {
	content: "";
	position: absolute;
	left: -1rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1rem solid transparent;
	border-top: 1rem solid var(--color-pink);
	border-bottom: 1rem solid var(--color-pink);	
}

.nextStepPointer:before {
	content: "";
	position: absolute;
	right: -1rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1rem solid var(--color-pink);
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}

.nextStepPointer a {
	text-decoration: none;
	color: var(--color-brown);
}
