main * {
	/* border: 1px solid black; */
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.process {
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	width: 90vw;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1rem 0;
}

.pointer {
	width: 7rem;
	height: 3rem;
	line-height: 3rem;
	position: relative;
	margin: 2rem;
	background: gray;
}

.pointer:after {
	content: "";
	position: absolute;
	left: -1.5rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-top: 1.5rem solid gray;
	border-bottom: 1.5rem solid gray;	
}

.pointer:before {
	content: "";
	position: absolute;
	right: -1.5rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1.5rem solid gray;
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.pointerPink {
	background: var(--color-pink);	
}

.pointerPink:after {
	border-top: 1.5rem solid var(--color-pink);
	border-bottom: 1.5rem solid var(--color-pink);	
}

.pointerPink:before {
	border-left: 1.5rem solid var(--color-pink);
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.pointerYellow {
	background: var(--color-yellow);	
}

.pointerYellow:after {
	border-top: 1.5rem solid var(--color-yellow);
	border-bottom: 1.5rem solid var(--color-yellow);	
}

.pointerYellow:before {
	border-left: 1.5rem solid var(--color-yellow);
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
}

.contents {
	max-width: 800px;
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 1rem 0;
	background-color: white;
    border: 1px solid var(--color-brown);
    border-radius: 5px;
}

.details {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1rem;
	width: auto;

}

.details h1:first-of-type {
	grid-column: 1 / 3;
}

.details span {
	text-align: right;
}

.details input {
    text-align: left;
}

#receipt {
	/* width: 100%; */
	grid-column: 1 / 3;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1rem;
	display: none;
}

.receiptGrid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1rem;
}




.nextStepPointer {
	width: 5rem;
	height: 2rem;
	line-height: 2rem;
	position: relative;
	margin: 1rem 2rem;
	background: var(--color-pink);
	align-self: flex-end;

}

.nextStepPointer:after {
	content: "";
	position: absolute;
	left: -1rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1rem solid transparent;
	border-top: 1rem solid var(--color-pink);
	border-bottom: 1rem solid var(--color-pink);	
}

.nextStepPointer:before {
	content: "";
	position: absolute;
	right: -1rem;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 1rem solid var(--color-pink);
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}

.nextStepPointer a {
	text-decoration: none;
	color: var(--color-brown);
}